/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/







.taital_main {
    width: 100%;
  
}

.construction_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.building_text {
    width: 100%;
    float: left;
    font-size: 90px;
    color: #ffffff;
    font-weight: bold;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
}

.contact_bt {
    width: 35%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid#ffffff;
    border-radius: 5px;
    background-color: transparent;
    height: 50px;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    padding-top: 12px;
}

.contact_bt a {
    color: #ffffff;
}

.contact_bt a:hover {
    color: #000000;
}

.get_bt {
    width: 35%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid#ffffff;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 20px;
    height: 50px;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    padding-top: 12px;
}

.get_bt a {
    color: #ffffff;
}

.get_bt a:hover {
    color: #000000;
}

.about_section {
    width: 100%;
    float: left;
    background-color: #000;
    /* margin-top: 70px; */
}

.about_taital {
    width: 63%;
    float: right;
    margin-top: 80px;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.long_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
}

.about_bt a {
    width: 40%;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #e05306;
    height: 50px;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    padding-top: 12px;
    display: inline-block;
}

.about_bt a {
    color: #ffffff;
    background-color: #e05306;
}

.about_bt a:hover {
    color: #000000;
    background-color: #ffffff;
}

.about_img {
    width: 100%;
    float: left;
}

.our_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.design_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #090a0b;
    margin-left: 0px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.fact_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #090a0b;
    margin-left: 0px;
    text-align: center;
}

.bt_main {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.project_section {
    width: 100%;
    float: left;
    background-image: url(../images/YEM\ KALKULYATORU.png);
    height: auto;
    background-size: 100%;
    margin-top: 70px;
    padding-bottom: 50px;
    margin-bottom: 0;
    background-repeat: no-repeat;
}

.partner_text {
    width: 100%;
    float: left;
    font-size: 70px;
    color: #fffcf4;
    font-weight: bold;
}

.lorem_ipsum_text {
    width: 61%;
    float: left;
    color: #fffcf4;
    font-size: 18px;
    margin-left: 0;
}

.choice_main {
    width: 100%;
    float: left;
}

.choose_bt a {
    width: 18%;
    float: left;
    background-color: #041d2c;
    color: #fffcf4;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    padding-top: 9px;
}

.choose_bt a {
    color: #ffffff;
    background-color: #041d2c;
}

.choose_bt a:hover {
    color: #000;
    background-color: #ffffff;
}

.clients_section {
    width: 100%;
    float: left;
    background-image: url(../images/img-5.png);
    height: auto;
    background-size: 100%;
}

.our_text {
    width: 29%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    color: #0b0e13;
    border-bottom: 1px solid #e05306;
    text-align: center;
}

.seemore_bt a {
    width: 50%;
    font-size: 20px;
    color: #fffcf4;
    border-radius: 5px;
    background-color: #041d2c;
    height: 50px;
    margin-top: 40px;
    padding-top: 7px;
    text-align: center;
    display: inline-block;
}

.seemore_bt a {
    color: #fffcf4;
    background-color: #041d2c;
}

.seemore_bt a:hover {
    color: #fffcf4;
    background-color: #e05306;
}

.padding_top_0 {
    padding-top: 50px;
}

.client_text {
    width: 100%;
    float: left;
    text-align: center;
}

.client_long_text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    color: #040403;
    text-align: center;
    padding-top: 40px;
}

.clients_section_2 {
    width: 100%;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

.client_img {
    width: 100%;
    float: left;
}

.henrry_text {
    width: 100%;
    float: left;
    color: #0b0e13;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}

.henrry_taital {
    width: 100%;
    float: left;
    color: #e07c06;
    text-align: center;
    font-size: 18px;
    margin-left: 0px;
    margin-top: 0px;
}

.client_lorem_text {
    width: 85%;
    float: left;
    color: #fffdf6;
    font-size: 17px;
    margin-left: 0px;
    position: relative;
    top: -160px;
    left: 108px;
}

.img_5 {
    width: 100%;
    float: left;
}

.contact_section {
    width: 100%;
    background-color: #e05306;
    height: auto;
}

.contact_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}

.contact_bg {
    width: 82%;
    float: right;
}

.request_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fffcf4;
    border-bottom: 0px solid#49bcfe;
    padding-top: 20PX;
}

.email-bt {
    background: transparent;
    border-bottom: 1px solid #fffcf4;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #fffcf4 !important;
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding: 20px 20px 20px 0px;
    margin-bottom: 10px;
}

input.email-bt::placeholder {
    color: #fffcf4;
}

.massage-bt {
    background: transparent;
    border-bottom: 1px solid #fffcf4;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #fffcf4 !important;
    width: 100%;
    height: 85px;
    font-size: 20px;
    padding: 20px 20px 20px 0px;
}

textarea#comment.massage-bt::placeholder {
    color: #fffcf4;
}

.send_bt a {
    width: 30%;
    float: left;
    background-color: #041d2c;
    color: #fffdf6;
    text-align: center;
    padding: 12px 0px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 10px;
}

.send_bt a {
    color: #fffdf6;
    background-color: #041d2c;
}

.send_bt a:hover {
    color: #000;
    background-color: #ffffff;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #1c1d1d;
    height: auto;
    /* margin-top: 80px; */
    padding-bottom: 80px;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #e05306;
    color: #fff;
    border: 0px;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 50px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem!important;
    width: 65%;
    margin: 0 auto;
}

.newsletter_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    padding-left: 175px;
}

.addres_text {
    width: 10%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: #fcf8f9;
    border-bottom: 1px solid #ffffff;
    padding-top: 25px;
}

.map_addres {
    width: 100%;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

.map_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #fffcf4;
    display: flex;
}

.map_icon {
    padding-left: 10px;
    padding-top: 10px;
}

.social_icon {
    width: 15%;
    margin: 0 auto;
    text-align: center;
}

.social_icon ul {
    margin: 0px;
    padding: 0px
}

.social_icon li {
    float: left;
    padding-left: 10px;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #e05306;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 14pt;
    color: #ffffff;
    text-align: center;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #000000;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.image_7 {
    width: 100%;
    float: left;
    text-align: center;
}

.image_7 a {
    color: #000;
}

.image_7 a:hover {
    color: #000;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.menu_text {
    width: 100%;
    float: left;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

a {
    color: #ffffff;
    text-decoration: none;
    outline: none !important;
}
.nested-carousel-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.main-carousel {
    position: relative;
    width: 100%;
}

.main-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.main-slide {
    min-width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.photo-carousel {
    flex: 0 0 50%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.photo-slides {
    display: flex;
    transition: transform 0.4s ease;
}

.photo-slide {
    min-width: 100%;
     aspect-ratio: 9/16;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #666;
}

.photo-slide img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.content-section {
    flex: 0 0 45%;
}

.content-section h2 {
    font-size: 32px;
    margin: 0 0 20px 0;
    color: #333;
}

.content-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin: 0 0 30px 0;
}

.photo-nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
}

.photo-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s;
}

.photo-dot.active {
    background: white;
    width: 30px;
    border-radius: 5px;
}

.photo-arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    pointer-events: none;
}

.photo-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #333;
    transition: all 0.3s;
    pointer-events: all;
}

.photo-arrow:hover {
    background: white;
    transform: scale(1.1);
}

.main-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 20;
}

.main-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s;
}

.main-dot.active {
    background: #333;
    width: 40px;
    border-radius: 6px;
}

.main-arrows {
    position: absolute;
    top: 15%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    pointer-events: none;
    z-index: 77;
    gap: 17px;
}

.main-arrow {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background: white;
    /* border: 2px solid #333; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #333;
    transition: all 0.3s;
    pointer-events: all;
}

.main-arrow:hover {
    background: #333;
    color: white;
    transform: scale(1.1);
}

.main-prev {
    background-color: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .main-slide {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .photo-carousel,
    .content-section {
        flex: 0 0 100%;
    }

    .content-section h2 {
        font-size: 24px;
    }

    .content-section p {
        font-size: 14px;
    }

    .main-arrow,
    .photo-arrow {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
}
.fa-whatsapp,.fa-envelope{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    /* padding: 20px 20px; */
    color: #fd7e14;
    font-size: 30px;
}
.carousel-content{
    padding-left: 20px;
}