/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppins, sans-serif;
    width: 100%;
}

.navlogo {
    width: 70px;
    height: 70px;
    transition: .3s ease-in-out;

}

.navlogo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nav-menu {
    display: flex;

    gap: 30px;
}

.navbar-section {
    width: 100%;
    background-color: #e05306;
}

.nav-menu-item {
    display: flex;
    align-items: center;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}

.nav-menu-item:hover,
.navlogo:hover {
    color: #191919aa;
    transform: scale(1.1);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.hamburger-menu {
    display: none;
    font-size: 33px;
    color: #fff;
}

/* Footer */
.footer-section {
    width: 100%;
    background-color: #191919;
    color: #ffffff;
    padding: 40px 0;
    font-family: poppins, sans-serif;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.adres-text {
    font: 470 27px poppins, sans-serif;
    border-bottom: 1px solid #fff;
}

.footer-left {
    display: flex;
    gap: 20px;
}

.footer-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    /* width: 100%; */
}

.footer-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-card a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    gap: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: .3s ease-in-out;
    text-decoration: none;
    color: #191919;
    border-radius: 77%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon:hover {
    background-color: #e05306;
    color: #fff;
    transform: scale(1.1);
    text-decoration: none;
}

/* ---------------- */

/* Banner Section */

.banner-section {
    width: 100%;
    float: left;
    background-color: #e05306;
    height: auto;
}

#carouselExampleIndicators a.carousel-control-prev {
    position: absolute;
    left: 63%;
    top: 180px;
    background-color: #fff;
    color: #000;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #091e30;
    border-radius: 100%;
}

.carousel-control-prev-icon {
    background-image: url(../images/left-aero.png);
}

#carouselExampleIndicators a.carousel-control-next {
    position: absolute;
    left: 64%;
    top: 270px;
    background-color: #1a1824;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #091e30;
    border-radius: 100%;
}

.carousel-control-next-icon {
    background-image: url(../images/right-aero.png);
}


.number-text {
    width: 100%;
    font-size: 20px;
    color: #fffdf6;
    padding-left: 10px;
}



/* Carousel */
.carousel-card-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 50px; */
}

.carousel-section-1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 20px;
    width: 70px;
    text-align: right;
}

.carousel-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 570px;
}

.carousel-section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 714px;


}

.carousel-image img {
    width: 100%;
    object-fit: cover;
}

.carousel-section-2-1 {
    display: flex;
    flex-direction: column;

    gap: 20px;
    width: 70px;
    text-align: right;
}

.carousel-section-2-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 470px;
}

.carousel-section-2-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 714px;
}

.contact-bt {
    background: transparent;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: .3s ease-in-out;
    margin: 17px 0 0 0;
}

.contact-bt:hover {
    background: #ffffff;
    color: #e05306;
    text-decoration: none;
}

.carousel-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}